<mat-toolbar color="primary">
  <span>Appointment Calender</span>
  <span class="example-spacer"></span>
  <button mat-icon-button routerLink="calender" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>event</mat-icon>
  </button>
  <button mat-icon-button routerLink="data" class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>create</mat-icon>
  </button>
</mat-toolbar>
<div class="wrapper">
  <router-outlet></router-outlet>
</div>
